/NeuroML2/LEMS_WhichModel.xml~
NeuroML2/*.gv
NeuroML2/*.py
NeuroML2/*.ode
NeuroML2/*.9ml
NeuroML2/*.png
NeuroML2/*.dat
*.pyc
*i686
*x86_64
generatedNEURON
generatedGENESIS
generatedNeuroML
generatedMOOSE
generatedPSICS
simulations
*.bak
*py.class
