/NEURON/RS_One.dat
/NeuroML2/results/RS_One.dat.lems
*~
NeuroML2/*.gv
NeuroML2/*nrn.py
NeuroML2/*.ode
NeuroML2/*.9ml
NeuroML2/*.png
NeuroML2/*.dat
NeuroML2/*.mod
NeuroML2/*.m
NeuroML2/*.json
*.pyc
*i686
*x86_64
generatedNEURON
generatedGENESIS
generatedNeuroML
generatedMOOSE
generatedPSICS
simulations
*.bak
*py.class
izhikevich15jun19
MATLAB/results/*.dat
NeuroML2/results/*.dat
	
PyNN/results/
nnn/
/NeuroML2/LEMS_2007One_brian2.py
/NeuroML2/LEMS_2007One_netpyne.py
/NeuroML2/*.pov
/NeuroML2/*.svg
/NeuroML2/LEMS_2007One_brian.py
